.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: grey;
    width: 300px;
    height: 370px;
}

.led-screen{
    background: white;
    border: black solid 3px;
    overflow: hidden;
    border-radius: 5px;
    width: 265px;
    height: 50px;
}

.output{
    font-size: 40px;
    text-align: right;
}

.buttons{
    display: grid;
    grid-template-rows: repeat(4, 60px);
    grid-template-columns: repeat(4, 60px);
    column-gap: 10px;
    row-gap: 10px;
    width: 270px;
    height: 270px;
    font-size: 35px;
}

.button{
    font-size: 30px;
    text-align: center;
    padding-top: 9px;
    border: black solid 3px;
    border-radius: 5px;
    background: silver;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:active{
    background: grey;
    color: black;
}

.subtraction{
    padding-top: 4px;
}
.multiply{
    padding-top: 14px;
}
.addition{
    padding-top: 8px;
}
.cancel {
    background: red;
}

.equal, .division, .multiply, 
.subtraction, .addition{
    background: black;
    color: white;
}